In [3]:
import pandas as pd
df = pd.read_csv("financial_year.csv")
#To print columns, rows
df.shape

(41715, 10)

In [13]:
rows, columns = df.shape
#To print Columns 
columns

10

In [14]:
#To print Top 5 rows
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

In [15]:
#To print last 5 rows
df.tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [17]:
#To print specific rows 
df[2:5]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

In [18]:
#To print Column names
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [21]:
#To print column details
df.Value

0        757,504
1        674,890
2         49,593
3         33,020
4        654,404
          ...
41710         52
41711         40
41712         12
41713          5
41714         46
Name: Value, Length: 41715, dtype: object

In [23]:
#To print columns
df[['Year', 'Units']]

       Year               Units
0      2021  Dollars (millions)
1      2021  Dollars (millions)
2      2021  Dollars (millions)
3      2021  Dollars (millions)
4      2021  Dollars (millions)
...     ...                 ...
41710  2013          Percentage
41711  2013          Percentage
41712  2013          Percentage
41713  2013          Percentage
41714  2013          Percentage

[41715 rows x 2 columns]

In [33]:
#To get min value in column
df['Year'].min()

2013

In [34]:
#To get max value in column
df['Year'].max()

2021

In [35]:
#To get mean 
df['Year'].std()

2.582019845995168

In [36]:
#To get all details for the dataframe
df.describe()

              Year
count  41715.00000
mean    2017.00000
std        2.58202
min     2013.00000
25%     2015.00000
50%     2017.00000
75%     2019.00000
max     2021.00000

In [46]:
#To get details greater than 
df[df.Year==2020]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
4635,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"732,181",ANZSIC06 divisions A-S (excluding classes K633...
4636,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"659,542",ANZSIC06 divisions A-S (excluding classes K633...
4637,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,422",ANZSIC06 divisions A-S (excluding classes K633...
4638,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,217",ANZSIC06 divisions A-S (excluding classes K633...
4639,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,308",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
9265,2020,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,76,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9266,2020,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,28,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9267,2020,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,13,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9268,2020,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,6,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
9269,2020,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,45,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [48]:
#To get rows along with operations
df[['Value', 'Year']][df.Year>=2021]

        Value  Year
0     757,504  2021
1     674,890  2021
2      49,593  2021
3      33,020  2021
4     654,404  2021
...       ...   ...
4630       77  2021
4631       27  2021
4632        9  2021
4633        4  2021
4634       45  2021

[4635 rows x 2 columns]

In [51]:
df[['Year', 'Units', 'Value']][df.Value==df['Value'].min()]

       Year       Units Value
18123  2018  Percentage    -1
18124  2018  Percentage    -1
23385  2016  Percentage    -1
23415  2016  Percentage    -1
33974  2014  Percentage    -1
37932  2013  Percentage    -1
37968  2013  Percentage    -1

In [58]:
df.set_index('Year')

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [59]:
df.reset_index()

,index,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...,...
41710,41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [64]:
df.loc[4]

Year                                                                        2021
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H08
Variable_name                                                  Total expenditure
Variable_category                                          Financial performance
Value                                                                    654,404
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 4, dtype: object